<div class="aboutUs">
  
    <p>Hello All, </p>
    <p> We are a scrum team with a member of 8 </p>
    <p> We have mentain the perfect skill ratio of developer ,Tester and Leads.</p>
    <div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Vijay Sahu</td>
            <td>Software Developer</td>
            
          </tr>
          <tr>
            <td>Swati Chintapatla</td>
            <td>Software Developer</td>
          </tr>
          <tr>
            <td>Maneendra Shakya</td>
            <td>Software Developer</td>
          </tr>
          <tr>
            <td>Annkur Shandilya</td>
            <td>Team Lead/ Scrum Master</td>
          </tr>
          <tr>
            <td>Aman Pamecha</td>
            <td>Tester</td>
          </tr>
          <tr>
            <td>Nishita Verma</td>
            <td>Business Analyst</td>
          </tr>
          <tr>
            <td>Krishnatri</td>
            <td>Product Owner</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>We are very enthusiastic and dedicated towards work and able to deliver the product on given time constraint </p>

    <p>Currently we are working on Compass and Hylia application. Compass was live since 2.6 years and Hylia recently launched to Amdocs employee. </p>
    <p>
      We have created this PWA apllication for testing purpose.
    </p>
  
</div>
